@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #000000;
}

[data-theme='dark'] {
	--background: #000000;
	--foreground: #ffffff;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0) rotate(0);
	}
	25% {
		transform: translateX(-3px) rotate(-1deg);
	}
	75% {
		transform: translateX(3px) rotate(1deg);
	}
}

.animate-shake {
	animation: shake 0.15s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2;
}

@keyframes pulse-ring {
	0% {
		transform: scale(0.95);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(0.95);
	}
}

.animate-pulse-ring {
	animation: pulse-ring 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.castle-tile {
	z-index: 10;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -50px;
		left: -50px;
		width: calc(100% + 100px);
		height: calc(100% + 100px);
		border: 2px dashed #c27aff;
		background-color: #c27aff0a;
		pointer-events: none;
		z-index: 20;
	}
}
